**מגישים: עמית אברמוביץ -318969045 , מאג'ד נאטור: 212066260**

## 0. Setting the kaggle API And downloading the dataset

In [ ]:
import json
import os

# Installing the Kaggle package
!pip install kaggle 

!mkdir /root/.kaggle/ 

#Important Note: complete this with your own key - after running this for the first time remmember to **remove** your API_KEY
api_token = {"username":"<>","key":"<>"}


# creating kaggle.json file with the personal API-Key details 
# You can also put this file on your Google Drive
with open('/root/.kaggle/kaggle.json', 'w') as file:
  json.dump(api_token, file)
!chmod 600 /root/.kaggle/kaggle.json

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.62.3)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)

In [ ]:
# Creating a dataset directory
!mkdir ./datasets
!mkdir ./datasets/Blog-Authorship-Corpus

# download the dataset from Kaggle and unzip it
!kaggle datasets download rtatman/blog-authorship-corpus -p ./datasets/Blog-Authorship-Corpus/
!chdir ./datasets/Blog-Authorship-Corpus
!unzip ./datasets/Blog-Authorship-Corpus/*.zip  -d ./datasets/Blog-Authorship-Corpus/
!ls ./datasets/Blog-Authorship-Corpus

mkdir: cannot create directory ‘./datasets’: File exists
mkdir: cannot create directory ‘./datasets/Blog-Authorship-Corpus’: File exists
blog-authorship-corpus.zip: Skipping, found more recently modified local copy (use --force to force download)
/bin/bash: chdir: command not found
Archive:  ./datasets/Blog-Authorship-Corpus/blog-authorship-corpus.zip
replace ./datasets/Blog-Authorship-Corpus/blogtext.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: N
blog-authorship-corpus.zip  blogtext.csv

In [ ]:
# searching for the dataset
!kaggle datasets list -s ufo

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
ref                                                            title                                              size  lastUpdated          downloadCount
-------------------------------------------------------------  ------------------------------------------------  -----  -------------------  -------------
NUFORC/ufo-sightings                                           UFO Sightings                                      10MB  2019-11-13 19:45:57          26492
camnugent/ufo-sightings-around-the-world                       UFO Sightings around the world                      5MB  2017-08-15 15:46:17           2730
rishidamarla/ufo-sightings-approx-100000                       UFO Sightings (Approx. 90,000)                     38MB  2021-05-15 03:12:43            420
mysarahmadbhat/ufo-sightings                                   UFO Sightings                                       5MB  2021-08-09 17:19:17            128
thaddeussegura/ufo-sightings                                   ufo_sightings                                       7MB  2020-08-11 16:38:41            163
salmanfaroz/ufo-sightings-in-the-us                            UFO Sightings in the US                            35KB  2020-08-20 18:31:59            249
fireballbyedimyrnmom/ufo-sightings-1969-to-2019                UFO sightings 1969 to 2019                         75MB  2020-12-04 21:02:42            150
emorelli/consolidated-ufo-weather-data                         Consolidated UFO and Weather Data                   4MB  2018-05-16 20:06:50            642
leogenzano/clean-data-ufo                                      Clean Data UFO                                      5MB  2020-10-22 17:13:05             38
dwarika/ufo-datasets-the-truth-is-out-there                    UFO datasets, the truth is out there...           743KB  2020-12-28 13:04:54             59
chandlerkaiden/ufo-data-nuforc                                 UFO Data - NUFORC                                   5MB  2021-11-22 16:21:25             22
karenfisher/updated-nuforc-ufo-sightings-dataset               Updated NUFORC UFO Sightings Dataset                3MB  2020-05-23 03:45:48             80
petrslamnk/ufo-sightings                                       UFO Sightings                                       5MB  2021-02-06 09:07:04             14
emohamed/ufo-sighting-full-description                         UFO_sighting_full_description                      37MB  2020-11-26 16:34:19             55
cavalryjim/ufo-sightings                                       ufo_sightings                                     195KB  2020-08-11 22:13:47             41
muhakabartay/production-cross-sections-of-inert-doublet-model  Production cross sections of Inert Doublet Model    3MB  2020-07-10 21:26:22             70
blunderfist/ufo-sightings                                      UFO sightings                                       6MB  2021-09-28 15:49:00              1
ajayrana/ufo-reports                                           ufo_reports                                       195KB  2017-11-04 12:43:02            286
hassanashfaq2001/ufo-dataset                                   UFO Dataset                                       356KB  2021-07-31 11:22:36              2
akashdutta5/ufo-sightings                                      UFO sightings                                     239KB  2020-10-28 08:24:41             20

In [ ]:
# Creating a dataset directory
!mkdir ./datasets
!mkdir ./datasets/UFO-SIGHTINGS

# download the dataset from Kaggle and unzip it
!kaggle datasets download NUFORC/ufo-sightings -p ./datasets/UFO-SIGHTINGS/
!chdir ./datasets/UFO-SIGHTINGS
!unzip ./datasets/ufo-sightings/*.zip  -d ./datasets/UFO-SIGHTINGS/
!ls ./datasets/UFO-SIGHTINGS

mkdir: cannot create directory ‘./datasets’: File exists
mkdir: cannot create directory ‘./datasets/UFO-SIGHTINGS’: File exists
ufo-sightings.zip: Skipping, found more recently modified local copy (use --force to force download)
/bin/bash: chdir: command not found
unzip:  cannot find or open ./datasets/ufo-sightings/*.zip, ./datasets/ufo-sightings/*.zip.zip or ./datasets/ufo-sightings/*.zip.ZIP.

No zipfiles found.
ufo-sightings.zip

## Question 1: Part 1:

In [ ]:
import pandas as pd
import numpy as np
import re

In [ ]:
df = pd.read_csv('./datasets/Blog-Authorship-Corpus/blogtext.csv')
df

In [ ]:
length = re.compile("(\w{8,})")

df['EightWordsPlus'] = df["text"].apply(lambda x: len((length.findall(x))))

sign_df = df[["sign","EightWordsPlus"]].groupby('sign').sum()
sign_df[sign_df['EightWordsPlus'] == sign_df['EightWordsPlus'].max()]

        EightWordsPlus
sign
Cancer         1149394

## Question 1: Part 2:

In [ ]:
df = pd.read_csv('./datasets/Blog-Authorship-Corpus/blogtext.csv')
df

In [ ]:
def convert_to_date_template (df):
  lis = [',January,', ',February,', ',March,', ',April,', ',May,', ',June,', ',July,', ',August,', ',September,', ',October,', ',November,', ',December,']
  for i in lis:
    if i in str(df):

     return str(df).replace('[','').replace(']','') 
  
  return None

In [ ]:
from datetime import datetime as dt 
day = df[['date']]
day['day'] = day['date'].apply(lambda x: convert_to_date_template(x))
day['day'] = pd.to_datetime(day['day'])
day['day'] = day['day'].dt.dayofweek

days_df=day.groupby('day').count()
days_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

       date
day
0.0  115285
1.0  110228
2.0  100154
3.0  104727
4.0   85934
5.0   64213
6.0   92799

## Question 1: Part 3:

In [ ]:
df = pd.read_csv('./datasets/Blog-Authorship-Corpus/blogtext.csv')
df

In [ ]:
emails_regex = re.compile(r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b')
legal_mails = df[['topic','text']]
legal_mails ['email_count'] = legal_mails["text"].apply(lambda x: len((emails_regex.findall(x))))


legal_mails = legal_mails.groupby('topic').sum()
legal_mails

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                         email_count
topic
Accounting                        34
Advertising                       36
Agriculture                        3
Architecture                      33
Arts                             265
Automotive                         5
Banking                           25
Biotech                           78
BusinessServices                  73
Chemicals                         32
Communications-Media             327
Construction                      17
Consulting                        74
Education                        321
Engineering                       83
Environment                        2
Fashion                           19
Government                        41
HumanResources                    26
Internet                         388
InvestmentBanking                  0
Law                               49
LawEnforcement-Security           18
Manufacturing                      7
Maritime                           4
Marketing                         65
Military                          17
Museums-Libraries                 33
Non-Profit                       467
Publishing                        84
RealEstate                        15
Religion                          46
Science                           79
Sports-Recreation                 31
Student                         1110
Technology                       285
Telecommunications                42
Tourism                           22
Transportation                    12
indUnk                          2000

## Question 1: Part 4:

In [ ]:
mails = "bruh@gmail.com, as,dl,sad,sla,al , ,sad,dls,dls, bruh2@gmail.com"

bla = (lambda x: emails_regex.findall(x))
bla(mails)

['bruh@gmail.com', 'bruh2@gmail.com']

In [ ]:
df ['number_of_mails_in_blog'] = df["text"].apply(lambda x: len((emails_regex.findall(x))))
df.groupby("id").sum()

most_mails= (df[df['number_of_mails_in_blog'] == df['number_of_mails_in_blog'].max()]) # contains only the ids that posted the most mails

print("the bloggers ids that most mail adresses were posted in thier blogs:")
most_mails[['id']]

the bloggers ids that most mail adresses were posted in thier blogs:

             id
216959  1383289

## Question 1: Part 5:

In [ ]:
def remove_comma(a: list):
  for i in range(0,len(a)):
     a[i]=len(a[i].replace(',','').replace('.',''))
  if len(a)==0:
    return 0 
  else:
    return max(a)

In [ ]:
import re
numbers = re.compile('[\d,.]+')

num_df = df[['topic','text']]
num_df['longest_num'] = num_df['text'].apply(lambda x: (numbers.findall(x)))
num_df['longest_num']=num_df['longest_num'].apply(lambda x: remove_comma(x))

answer_df=num_df.groupby('topic').max('longest_num')

answer_df = answer_df[answer_df['longest_num']== answer_df['longest_num'].max()]

answer_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

         longest_num
topic
Student          193

# Question 2: Part 1

In [ ]:
df = pd.read_csv('/content/scrubbed.csv')
df

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (5,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

               datetime                  city  ...    latitude  longitude
0      10/10/1949 20:30            san marcos  ...  29.8830556  -97.941111
1      10/10/1949 21:00          lackland afb  ...    29.38421  -98.581082
2      10/10/1955 17:00  chester (uk/england)  ...        53.2   -2.916667
3      10/10/1956 21:00                  edna  ...  28.9783333  -96.645833
4      10/10/1960 20:00               kaneohe  ...  21.4180556 -157.803611
...                 ...                   ...  ...         ...         ...
80327    9/9/2013 21:15             nashville  ...     36.1658  -86.784444
80328    9/9/2013 22:00                 boise  ...     43.6136 -116.202500
80329    9/9/2013 22:00                  napa  ...     38.2972 -122.284444
80330    9/9/2013 22:20                vienna  ...     38.9011  -77.265556
80331    9/9/2013 23:00                edmond  ...     35.6528  -97.477778

[80332 rows x 11 columns]

In [ ]:
m = re.compile("\d+\/\d+\/(\d+)")
def year (x):
  l = m.findall(str(x))
  return l[0]
df['Year'] = df['datetime'].apply(lambda x: year (x))



#Function :
def sight (country,year):
   M = df[df['Year'] == year]
   J = M[M['country'] == country]
   L =J.groupby('country').count()
   return L['datetime']
#Test:
sight('gb','2010')

country
gb    115
Name: datetime, dtype: int64

# Question 2: Part 2

In [ ]:
r = re.compile("(\d+)\/\d+\/\d+")
def month (x):
   l = r.findall(str(x))
   return l[0]
df['Month'] = df['datetime'].apply(lambda x: month(x))
k = df.groupby('Month').count()
L = k.sort_values(by = 'datetime', ascending = False).head(1)
L['datetime']

Month
7    9520
Name: datetime, dtype: int64

# Question 2: Part 3

In [ ]:
df['Hour']=df['datetime'].str.slice(-5,-3)
l = df.groupby(['Hour']).count()
L =l.sort_values(by = "datetime", ascending = False).head(1)
L['datetime']

Hour
21    11445
Name: datetime, dtype: int64

# Question 2: Part 4

In [ ]:
r = re.compile('\w{7,}\s+\w{7,}')
def comments (x):
  l = r.findall(str(x))
  if (len(l) >=1):
    return l
  if(len(l)==0):
    return '0'
  else:
    return '0'
df['newcomments'] = df['comments'].apply(lambda x: comments(x))
df['len'] = df['newcomments'].apply(lambda x:len(x))
# the comment:
df['comments'][df['len']==df['len'].max()]

18266    Glowing&#44spinning rapidly&#44displaying quic...
Name: comments, dtype: object

# Question 2: Part 5

In [ ]:
d = re.compile('\b\d{6}\b')
def check (x):
  l = d.findall(str(x))
  if(len(l) >=1):
    return l
  else:
    return '0'  
df['6nums'] = df['comments'].apply(lambda x: comments(x))
df['numslen'] = df['6nums'].apply(lambda x: len(x))
l=df.groupby('country').sum()
l.sort_values(by = 'numslen' , ascending=False).head(1)

           longitude     len  numslen
country
us      -6.232118e+06  67931    67931

# Question 2: Part 6

In [ ]:
r = re.compile('\w{2}\d\w{1}')
def xxXx (x):
  l=r.findall(str(x))
  if(len(l)==0):
    return '0'
  else:
    return '1'
df['new'] = df['comments'].apply(lambda x: xxXx(x))
df[df['new'] == '1']

               datetime             city  ... numslen new
0      10/10/1949 20:30       san marcos  ...       1   1
1      10/10/1949 21:00     lackland afb  ...       1   1
4      10/10/1960 20:00          kaneohe  ...       1   1
8      10/10/1966 20:00        pell city  ...       1   1
15     10/10/1972 19:00    harlan county  ...       1   1
...                 ...              ...  ...     ...  ..
80219    9/9/2007 21:30         antelope  ...       1   1
80241    9/9/2009 20:10        haverhill  ...       1   1
80266    9/9/2010 20:30      tinley park  ...       1   1
80286    9/9/2011 23:00          kenmore  ...       1   1
80295    9/9/2012 14:00  pictou (canada)  ...       1   1

[4801 rows x 19 columns]